@import './colors.scss';
@import './scroller.scss';
@import './animations.scss';

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

$avaRhubarb: #8100a8ff;
$avaViolet: #871fffff;
$avaPizzazz: #ff57eeff;
$avaLemon: #fffd70ff;
$gradient-top: linear-gradient(0deg, $avaViolet, $avaPizzazz, $avaLemon);
$gradient-bottom: linear-gradient(180deg, $avaViolet, $avaPizzazz, $avaLemon);

.gradientFromHell {
  background-image: $gradient-top;
}
.gradientFromHellB {
  background-image: $gradient-bottom;
}


.yellow {
  color: yellow !important;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1.25;
  color: hsl(306, 57%, 53%);
  margin-bottom: .5rem;
}

h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1rem; }
h5 { font-size: 0.75rem; }
h6 { font-size: .5rem; }