---
import Layout from '../layouts/Layout.astro'
import Panel from '../components/panel.astro'

export async function getStaticPaths() {
  const posts = await Astro.glob('../posts/*.md')

  return posts.map(post => ({
    params: {
      slug: post.frontmatter.slug
    },
    props: {
      post
    }
  }))
}

const { Content, frontmatter } = Astro.props.post
---

<Layout title={frontmatter.title}>
  <Panel>
    <a href="/">Go Back</a>
    <h2>{frontmatter.title}</h2>
    <Content />
  </Panel>
</Layout>