---
import Layout from '../layouts/Layout.astro'
const header = "Ava's Fun World"

---

<Layout title="Ava's Fun World">
	<div class="mx-auto p-24 w-screen h-screen bg-avaRhubarb overflow-auto">
		<h1 class="font-extrabold font-serif text-6xl text-avaLemon mb-6">{header}</h1>
	</div>
</Layout>
