---
import Image from '../components/image.astro'

const posts = await Astro.glob('../posts/*.md')
// const { frontmatter } = Astro.props.post
---

<div class="grid grid-cols-1 overflow-auto auto-rows-auto overflow-x-hidden sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 pr-6">
  {posts.map(post => (
		<article class="bg-white h-full rounded-2xl text-left leading-10 p-0 shadow-lg">
			<a href={post.frontmatter.slug}>
				<div class="py-6 px-8 bg-white rounded-2xl">
          <h1 class="text-avaRhubarb text-inherit text-lg font-bold leading-[1.25] mb-1 line-clamp-2">{post.frontmatter.title}</h1>
          <p class="text-inherit text-sm leading-5 mb-2 line-clamp-4">{new Date(post.frontmatter.date).toLocaleDateString()}</p>
          <p class="text-inherit text-base leading-6 mb-2 line-clamp-4">{post.frontmatter.excerpt}</p>
        </div>
			</a>
		</article>
	))}
</div>

<style lang="scss" is:global>


</style>