---
const avaMean = 'src/images/ava-mean.png'
const avaNice = 'src/images/ava-nice.png'
const headerText = "Ava's Fun World"

---

<footer class="flex flex-row gap-4 m-auto justify-center items-center p-3 border border-white rounded-2xl w-full">
  <img class="h-12 items-center m-0 jelloHorizontal" src={avaNice} alt="" />
  <h6 class="text-2xl font-extrabold font-serif text-avaLemon self-center">{headerText}</h6>
  <p class="text-avaLemon"><a href="#">Home</a></p>
  <p class="text-avaLemon"><a href="#">Blog</a></p>
  <p class="text-avaLemon"><a href="#">About</a></p>
</footer>

<style lang="scss">


</style>