---
const avaMean = 'src/images/ava-mean.png'
const avaNice = 'src/images/ava-nice.png'
const headerText = "Ava's Fun World"

---

<footer class="flex flex-col sm:flex-row gap-3 justify-between items-center p-0 rounded-2xl w-full text-avaLemon">
  <div class="flex flex-col sm:flex-row gap-2">
    <img class="h-10 items-center m-0 jelloHorizontal" src={avaNice} alt="" />
    <h6 class="text-[max(2rem,2vw)] font-extrabold font-sans text-left">{headerText}</h6>
  </div>
  <div class="flex flex-col sm:flex-row gap-8 justify-between mr-6 text-[max(1rem,1.5vw)]">
    <p class=""><a href="#">Home</a></p>
    <p class=""><a href="#">Blog</a></p>
    <p class=""><a href="#">About</a></p>
  </div>
</footer>

<style lang="scss">


</style>