---
const avaMean = 'src/images/ava-mean.png'
const avaNice = 'src/images/ava-nice.png'
const headerText = "Ava's Fun World"

---

<header class="w-full flex flex-col sm:flex-row gap-2 justify-between items-center rounded-3xl mb-2 sm:mb-0">
  <div class="flex flex-col flex-wrap sm:flex-row gap-0 justify-start items-center text-avaRhubarb">
    <img class="h-24 items-center mr-4 jelloHorizontal" src={avaNice} alt="" />
    <h1 class="font-bold font-sans text-[max(2rem,4vw)] text-center leading-[1.15] drop-shadow-[0px_4px_6px_#ff57ee]">{headerText}</h1>
  </div>
  <div class="flex flex-wrap sm:flex-row gap-6 items-center sm:justify-end justify-center pr-0 sm:pr-8 text-avaRhubarb text-[max(1rem,2vw)]">
    <p class="drop-shadow-[0px_4px_6px_#ff57ee]"><a href="/">Home</a></p>
    <p class="drop-shadow-[0px_4px_6px_#ff57ee]"><a href="/blog">Blog</a></p>
    <p class="drop-shadow-[0px_4px_6px_#ff57ee]"><a href="/about">About</a></p>
  </div>
</header>

<style lang="scss">

  .jelloHorizontal {
    animation: jelloHorizontal 2s both;
    animation-delay: 1s;
    animation-play-state: running;
    animation-iteration-count: 3;
    cursor: pointer;
  }


  .jelloHorizontal:hover {
    animation: jelloHorizontal 2s both;
    // animation-timing-function: ease;
    // animation-delay: initial !important;
    animation-play-state: running;
    // background: red;
  }

  @keyframes jelloHorizontal {
    0% { transform: scale3d(1, 1, 1); }
    30% { transform: scale3d(1.25, 0.75, 1); }
    40% { transform: scale3d(0.75, 1.25, 1); }
    50% { transform: scale3d(1.15, 0.85, 1); }
    65% { transform: scale3d(0.95, 1.05, 1); }
    75% { transform: scale3d(1.05, 0.95, 1); }
    100% { transform: scale3d(1, 1, 1); }
  }
</style>